<!DOCTYPE html>
<html>
<head>
    <title>Plotly Plots</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var updateInterval = 2000; // Update every 2 seconds
        
            function fetchAndUpdateData() {
                fetch('/get-new-data')
                    .then(response => response.json())
                    .then(new_data => {
                        console.log(new_data);
                        Plotly.restyle('main-plot', new_data.main, [0, 1, 2]);
                        Plotly.restyle('model-perf', new_data.model_perf, [0, 1]);
                        Plotly.restyle('small-plots', new_data.subplots, [0, 1, 2, 3, 4, 5, 6, 7, 8]);

                        if(new_data.model_update_flag === 1) {
                            // Update several table cells
                            document.getElementById('model-version').innerText = new_data.model_update_values.version;
                            document.getElementById('model-update-time').innerText = new_data.model_update_values.update_time;
                            document.getElementById('model-rmse').innerText = new_data.model_update_values.rmse;
                        }
                    })
                    .catch(error => console.error('Error fetching new data:', error));
            }
        
            setInterval(fetchAndUpdateData, updateInterval);
        });
    </script>
</head>
<body>
    <div class="main-container">
        <h1>Fraud Detection Dashboard</h1>
        <h3>Model Information</h3>
        <table id="data-table" lass="table table-striped table-bordered data-table">
            <thead>
                <tr>
                    <th>Version</th>
                    <th>Last Model Rebuild</th>
                    <th>RMSE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="model-version"> - </td>
                    <td id="model-update-time"> - </td>
                    <td id="model-rmse"> - </td>
                </tr>
            </tbody>
        </table>
        <div class="plot-container">
            <div id="main-plot"></div>
            <div id="model-perf"></div>
            <div id="small-plots"></div>
        </div>
    </div>
    <script>
        // Render Plotly graphs
        var main_plot_data = {{ main_plot_json | safe }};
        var model_perf_data = {{ model_perf_json | safe }};
        var small_plots_data = {{ small_plots_json | safe }};
        
        Plotly.newPlot('main-plot', main_plot_data.data, main_plot_data.layout);
        Plotly.newPlot('model-perf', model_perf_data.data, model_perf_data.layout);
        Plotly.newPlot('small-plots', small_plots_data.data, small_plots_data.layout);
    </script>
</body>
</html>
